.np-text-title-group {
  background-color: #fff;
  padding: 8px 16px 4px;
  font-weight: 300;
  font-size: 0.775rem;
  letter-spacing: -0.006em;
  line-height: 140%;
  color: #454745;
}

.ant-modal-body {
  font-family: inherit !important;
}

.np-select-input-option {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 8px 16px;
  gap: 6px;
  align-items: center;
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
}

.np-select-input-option:hover,
.np-select-input-option:focus {
  box-shadow: inset 0 0 0 1px #868685;
}

.np-select-input-option-content-text-primary {
  font-family: inherit;
  color: #454745;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: -0.006em;
  line-height: 140%;
  word-wrap: break-word;
  margin: 0;
  align-content: center;
}

.np-select-input-option-content-text-secondary {
  font-size: 0.875rem;
  line-height: 155%;
  letter-spacing: -0.006em;
  font-weight: 400;
  color: #454745;
}

.ant-modal-content {
  width: fit-content !important;
  height: auto !important;
  overflow: auto;
  border-radius: 10px !important;
}
